
html, body, #root, .App {
  height: 100%;
  margin: 0px; 
  padding: 0px; 
  background-color: #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header {
  background-color: #5585b5;
  height: 10%;
}
.headerTitle {
  font-size: 1.5rem;
  color: #fff;
  left: 5%;
  top: 2%;
  position: absolute;
}
.mobileLayout {
  color: #000;
  position: absolute;
  background-color: rgba(220, 227, 232, 0.5);
  margin: 0;
  width: 100%;
  height: 100%;
}
.mainLayout {
  margin: 0;
  width: 100%;
  height: 100%;
}
.browserWrapper {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 70%;
  background-color: rgba(220, 227, 232, 0.5);
  height: 50rem;
  border-radius: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}
@media only screen and (min-width: 600px) {
  .browserWrapper {
    width: 600px;
  }
}
.browserUpload {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.uploadMethodChoice {
  position: relative;
  font-size: 1.2rem;
  top: 2rem;
}
.takePhotoButton {
  padding: 6px 23px;
  background: #3f4257;
  border-radius: 30px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
  border: none;
}
.takePhotoText {
  position: relative;
  top: 1.5rem;
  margin-bottom: 2rem;
  color: white;
  font-size: 1.5rem;
}
.imageUploadDiv {
  width: 12rem;
  height: 10rem;
}
.fileContainer {
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 5%);
  position: relative;
  border-radius: 10px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 2rem;
  width: 200px;
}
.photoLogo {
  height: 4rem;
}
.webcamView {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(24, 24, 24);
}
.webcamCapture {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 15%;
  left: 0%;
}
.webcamBack {
  position: absolute;
  bottom: 10%;
  right: 50%;
  transform: scale(2) rotate(90deg);  
  color: #fff;
}
.imagePlaceholder {
  position: relative;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 45%;
}
.resultImage {
  width: 100%;
  height: 17rem;
}
.resultImageBrowser {
  width: 100%;
  height: 100%;
}
.resultsList {
  position: relative;
  left: 1%;
  width: 98%;
  height: auto;
  justify-content: center; 
  overflow:scroll;
}
.resultElement {
  width: 100%;
  margin-top: 0.2rem;
  border-radius: 0.2rem;
  background-color: #5585b5;
  color: white;
  font-size: 0.8rem;
  
  overflow:scroll;
}
.resultElementChoosen {
  width: 100%;
  margin-top: 0.2rem;
  border-radius: 0.3rem;
  color: white;
  font-size: 0.8rem;
  overflow:scroll;
  background-color: rgb(73, 137, 250)
}
.shadow { 
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}
.resultDetailsRowSmall {
  display: flex;
  width: 100%;
}
.resultDetailsRowBig {
  display: flex;
  width: 100%;
}
.resultDetail {
  margin: 0.4rem;
}
.title {
  flex: 2;
}
.author {
  flex: 2;
}
.rating {
  flex: 1;
}
.description {
  flex: 1;
  margin-bottom: 0.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.loaderWrapper {
  margin-left: calc(50% - 40px);
  margin-top: 20%;
}
.loader {
  border: 10px solid rgba(171, 176, 180, 0.5);
  border-top: 10px solid #5585b5;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
.badRequest {
  font-size: 1.5rem;
  color: #000;
  margin-top: 20%;
}
.searchWrapper {
  position: relative;
  margin: 0.4rem;
  width: 98%;
  border-radius: 0.5rem;
  background-color: #fff;
  display: flex;
}
.search {
  border: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
}
.loupe {
  margin-left: 1rem;
}

.serviceDropdownWrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.serviceDropdownWrapperMobile {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.serviceDropdown {
  border-radius: 1rem;
  border-color: #fff;
  width: 15rem;
  height: 2rem;
  font-size: 1rem;
  padding-left: 1rem;
  margin-top: -1rem;
}